<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>
        {% block page_title %}clktc &mdash; short urls{% endblock %}
    </title>

    {% block styles %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-2.0.4.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/site.css">
    {% endblock %}

    {% block scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-modal-2.0.4.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-dropdown-2.0.4.js"></script>
    {% endblock %}
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">clktc</a>
      <ul class="nav">
        <li><a href="/">Home</a></li>
        {% if not user.is_anonymous %}
        <li><a href="{% url all_links %}">My Links</a></li>
        <li><a href="{% url add_link %}">Add Link</a></li>
        {% endif %}
      </ul>
      {% if user.is_anonymous %}
      <form action="{% url login %}" method="POST" class="navbar-form pull-right">
        {% csrf_token %}
        <input class="span2" type="text" name="username" placeholder="Username">
        <input class="span2" type="password" name="password" placeholder="Password">
        <button class="btn btn-small" type="submit">Sign in</button>
      </form>
      {% else %}
      <ul class="nav pull-right">
        <li><a href="{% url logout %}">Logout</a></li>
      </ul>
      {% endif %}
    </div>
  </div>
</div>
<div class="container">
    <div class="content">
      <div class="row page-header">
        <div class="span12">
          <h2>{% block title %} Page Name {% endblock %} <small>{% block subtitle %}Supporting text or tagline{% endblock %}</small></h2>
        </div>
      </div>
      {% block content %}
      {% endblock %}
    </div>
</div>
</body>
</html>
