{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}

  {% if form.errors %}
    <div class="alert-message error">Your username and password didn't match. Please try again.</div>
  {% endif %}

  <form action="{% url login %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    <div class="clearfix">
      <label for="username">Username</label>
      <div class="input"><input type="text" name="username" placeholder="Username"></div>
    </div>
    <div class="clearfix">
      <label for="password">Password</label>
      <div class="input"> <input  type="password" name="password" placeholder="Password"></div>
    </div>
    <div class="actions"><button class="btn primary" type="submit">Sign in</button></div>
  </form>
{% endblock %}
