{% extends "base.html" %}
{% block title %}Your links{% endblock %}
{% block subtitle %}View and edit your links{% endblock %}
{% block content %}
    <div id="links">
        <ul>
        {% for link in links %}

            <li>
                <a href="{% url edit_link link.pk %}">Edit</a>
                |
                <a href="{{  link.url }}">{{ link.url }}</a>
                =>
                <a href="{{ link.destination_url }}">{{ link.destination_url }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endblock %}
