{% extends "base.html" %}
{% block title %}Your links{% endblock %}
{% block subtitle %}View and edit your links{% endblock %}
{% block content %}
    <div id="links">
        <ul>
        {% for link in links %}
            <li>
                <a href="{% url edit_link link.pk %}">Edit</a>
                |
                <a target="_blank" href="{{  link.url }}">{{ link.url }}</a>
                =>
                <a target="_blank" href="{{ link.destination_url }}">{{ link.destination_url }}</a>
            </li>
        {% empty %}
            You don't have any links. Why don't you <a href="{% url add_link %}">add</a> some?
        {% endfor %}
        </ul>
    </div>
    {% endblock %}
