{% extends "base.html" %}
{% block content %}
    <div><a href="{% url add_link %}">Add New Link</a></div>
    <div id="links">
        <p>Your links</p>
        <ul>
        {% for link in links %}

            <li>
                <a href="{% url edit_link link.pk %}">Edit</a>
                |
                <a href="{{  link.url }}">{{ link.url }}</a>
                =>
                <a href="{{ link.destination_url }}">{{ link.destination_url }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endblock %}
