{% extends "base.html" %}
{% block title %}Edit{% endblock %}
{% block subtitle %}destination for {{ link.url }}{% endblock %}

{% block content %}
    <div id="delete-modal" class="modal hide fade">
          <div class="modal-header">
            <a href="#" class="close">×</a>
            <h3>Are you sure?</h3>
          </div>
          <div class="modal-body">
            <p>Deleting the link will take effect immediately. This operation cannot be undone.</p>
          </div>
          <div class="modal-footer">
              <form action="{% url delete_link link.pk %}" method="POST">
                  {% csrf_token %}
                  <button type="submit" class="btn danger">Yes, I'm sure.</button>
                  <button type="button" class="btn secondary" onclick="$('#delete-modal').modal('hide')">Never mind</button>
              </form>
          </div>
    </div>
    <div id="edit">
        <form class="form-horizontal" method="POST" action="{% url edit_link link.pk %}">
          <fieldset>
          {% csrf_token %}
          <div class="control-group">
          {{ form }}
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save</button>
            &nbsp;
            <button type="reset" class="btn">Cancel</button>
            &nbsp;
            <button data-controls-modal="delete-modal" data-backdrop="true" data-keyboard="true" type="button" class="btn danger">Delete</button>
          </div>
          </fieldset>
        </form>
    </div>
{% endblock %}
