{% extends "base.html" %}
{% block title %}{% endblock %}
{% block subtitle %}Edit URL for {{ link.url }}{% endblock %}
{% block content %}
    <form method="POST" action="{% url edit_link link.pk %}">
        {% csrf_token %}
{#        <fieldset>#}
{#            <div class="clearfix"><label for="destination_url">Destination URL</label>#}
{#                <span class="input"><input id="destination_url" name="destination_url" type="text"#}
{#                                           value={{ link.destination_url }}></span></div>#}
{#            <div class="clearfix"><label for="destination_url">Shortened URL</label>#}
{#                <span class="input"><input id="short_url" name="short_url" type="text" disabled="true"#}
{#                                           value={{ link.url }}></span></div>#}
{#        </fieldset>#}
        {{ form }}
        <div class="actions">
            <button type="submit" class="btn primary">Save</button>
            &nbsp;
            <button type="reset" class="btn">Cancel</button>
        </div>
    </form>
{% endblock %}
