{% extends "base.html" %}
{% block title %}clk.tc{% endblock %}
{% block subtitle %}short, descriptive, memorable{% endblock %}
{% block content %}
<div id="homepage">
<div class="row">
  <div class="span5">
    <h5>Not designed for cramming</h5>
    <p>Typical URL shortners try to compact a longer URL into the least
      amount of characters. This is great for squeezing into 140 characters,
      but less than ideal for human consumption.</p>
  </div>
  <div class="span5">
    <h5>Easy to remember</h5>
    <p><em>clk.tc</em> is designed to turn long and hard to remember URLs
      into short, descriptive and memorable URLs. You will therefore have to
      supply a nice and short name for your URL.</p>
  </div>
</div>
</div>
{% endblock %}
